@mixin fontSize($font-size, $font-weight:'normal', $line-height:18px) {
    font-size: $font-size;
    font-weight: #{$font-weight};
    line-height: $line-height;
   
    @content;
}


@mixin backgroundColor($background-color) {
    background-color: $background-color;
}