@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNextProLt/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Avenir-heavy';
  src: url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'Avenir-bold';
  src: url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
}

* {
  font-family: 'Avenir';
}

body {
  margin: 0px;
}

.header {
  background-color: #323232;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__name {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__name {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.header__name a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__nav {
    width: 30%;
  }
}

.header__nav--link {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav--link:hover {
  border-bottom: 4px solid #fff;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__nav--link {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav--link a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__nav--link a {
    max-height: 20px;
  }
}

.homepage {
  color: #323232;
}

.homepage__hero {
  background-image: url(../image/hero.jpg);
  width: 100%;
  height: 183px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__hero {
    height: 400px;
  }
}

.homepage__hero h2 {
  color: #fff;
  font-family: "Avenir-bold";
  margin: 0;
  padding: 0 1rem;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__hero h2 {
    padding: 0 1.5rem;
    font-size: 60px;
    font-weight: normal;
    line-height: 68px;
  }
}

.homepage__musicians {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 1rem 2.5rem 1rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians {
    padding: 2rem 1.5rem 2.5rem 1.5rem;
  }
}

.homepage__musicians__header {
  margin: 0;
  font-family: "Avenir-bold";
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__header {
    font-size: 36px;
    font-weight: normal;
    line-height: 44px;
  }
}

.homepage__musicians__image {
  width: 100%;
  margin: 1.5rem 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__image {
    height: 362px;
  }
}

.homepage__musicians__description--top {
  font-family: "Avenir-bold";
  color: #323232;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__description--top {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
  }
}

.homepage__musicians__description--bottom {
  font-family: "Avenir-bold";
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.homepage__musicians__text--title {
  font-family: "Avenir-bold";
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__text--title {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }
}

.homepage__musicians__text--top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__text--top {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }
}

.homepage__musicians__text--bottom {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__musicians__text--bottom {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }
}

.homepage__photo-gallery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: #FAFAFA;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__photo-gallery {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}

.homepage__photo-gallery h1 {
  font-family: "Avenir-bold";
  margin: 0px;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__photo-gallery h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
  }
}

.homepage__photo-gallery img {
  width: 100%;
  padding-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__photo-gallery img {
    width: 224px;
    height: 126px;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .homepage__photo-gallery--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #323232;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}

.footer h1 {
  font-family: "Avenir-bold";
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 32px;
  }
}

.footer__title--logo {
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__title--logo {
    display: block;
  }
}

.footer__icons {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__icons {
    width: 20%;
  }
}

.footer__icons img {
  height: 1rem;
}

.footer__contact {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 2rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__contact h4 {
  margin: 0;
  font-family: "Avenir-bold";
}

.footer__contact--address {
  padding: 1rem 0;
}

.footer__contact--padding {
  padding-bottom: 1.5rem;
}

.footer__copyright {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=styles.css.map */