@import 'variables.scss';
@import 'mixins.scss';

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextProLt/Linotype - AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
    font-family:'Avenir-heavy';
    src: url('../fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-bold';
    src: url('../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf') format('opentype');
}

* {
    font-family: 'Avenir';
}

body {
    margin: 0px;
}

.header {
    background-color:#323232;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

     @media (min-width: 768px) and (max-width:1439px) {
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
    }

&__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (min-width: 768px) and (max-width:1439px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    @media (min-width: 1440px) {
        margin-left: 11.25rem;
    }

      a {
        text-decoration: none;
        color: $primary-text-color;
        text-transform: uppercase;
      }   
   }

&__nav { 
    width: 100%;
    display: flex;

    @media (min-width: 768px) and (max-width:1439px) {
        width: 30%;       
    }
   }
}


.header__nav--link {
       width: 50%;
       display: flex;
       justify-content: center;
       &:hover {
        border-bottom: 4px solid #fff;   
        }

        @media (min-width: 768px) and (max-width:1439px) {
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;    
        }

        @media (min-width: 1440px) {
            width: 5rem;
            height: 80px;
            margin-left: 3.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;   
        }
    
   a {
    color: $primary-text-color;
    text-decoration: none;  
    @media (min-width: 768px) and (max-width:1439px) {
        max-height: 20px;
       }
    @media (min-width: 1440px) {
        max-height: 20px;
      }
    }    
}




// hero...
.homepage {
    color: #323232;
}

iframe {
    // background-color: #E1E1E1;
    height: 5rem;
    width: 90%;
   
    @media (min-width: 768px) and (max-width:1439px) {
        width: 50%;
        height: 10rem;
        margin-left: 1.5rem;
       
    }

    @media (min-width: 1440px) {
        width: 90%;
        height: 146px;
        margin-right: 11.25rem;
        margin-bottom: 10rem;
    }
}


.homepage__hero {
    background-image: url(image/hero.jpg);
    width: 100%;
    height: 472px;
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    @media (min-width: 768px) and (max-width:1439px) {
        height: 670px;
    }
  
    @media (min-width: 1440px) {
        height: 670px;
        display: flex;
        align-items: flex-end;
        

    }
    
    &--text {
      padding: 4rem 1rem 4rem 1rem;
      color: $primary-text-color;
      font-family: 'Avenir-heavy';
      @include fontSize(36px,'bold', 44px);

      @media (min-width: 768px) and (max-width:1439px) {
        padding: 6rem 3rem 3rem 1.5rem;
        width: 70%;
        @include fontSize(60px, 'bold', 68px);
      }

      @media (min-width: 1440px) {
        padding: 10rem 4rem 10rem 11.25rem;
        width: 40%;
        @include fontSize(60px, 'bold', 68px);
      }

      .sub-title {
        @include fontSize(13px);
        @media (min-width: 768px) and (max-width:1439px) {
            @include fontSize(24px, 'bold', 32px);
            font-family: 'Avenir-bold';
        }

        @media (min-width: 1440px) {
            @include fontSize(24px, 'bold', 32px);
            font-family: 'Avenir-bold';
            margin-bottom: 3rem;
        }

      }
         

        // @media (min-width: 1440px) {
        //     padding: 0 11.25rem;
        //     @include fontSize(60px, 'normal', 68px);
        // }
    }
    
    
}

.homepage__shows {
    padding: 2rem 1rem 1rem 1rem;

    @media (min-width: 768px) and (max-width:1439px) {
        padding: 2rem 1.5rem 1rem 1.5rem;

    }   

    @media (min-width: 1440px) {
        padding: 3rem 11.25rem 1rem 11.25rem;
        // the card-container below is used to flex the shows header and dates,venue
        // and location
        .card-container {
            display: flex;
        }
    }



    h2 {
        margin: 0;
        font-family: 'Avenir-bold';
        @include fontSize(24px,'bold', 32px);
        padding-bottom: 1.5rem;

        @media (min-width: 768px) and (max-width:1439px) {
            @include fontSize(36px,'bold', 44px);
        }
        
        @media (min-width: 1440px) {
            @include fontSize(36px,'bold', 44px);
            width: 25%;
        }

    }

    &--hide {
        display: none;

        @media (min-width: 768px) and (max-width:1439px) {
            display: flex;
            @include fontSize(13px);
            color: #AFAFAF;
            
            .date {
                width: 31%;
            }

            .venue {
                width: 20%;
            }
        }

        @media (min-width: 1440px) {
            width: 75%;
            display: flex;
            @include fontSize(14px, 'normal', 22px);
            color: #AFAFAF;

            .date {
                width: 25%;
            }

            .venue {
                width: 16%;
            }
        }
    }
   
    &--card {
        @include fontSize(12px,'bold', 18px);
        border-bottom: 1px solid #AFAFAF;
        margin-bottom: 1rem;

        @media (min-width: 768px) and (max-width:1439px) {
            display: flex;
            align-items: center;
            @include fontSize(13px);
        }
        
        @media (min-width: 1440px) {
            display: flex;
            padding-left: 25%;
            @include fontSize(13px);
        }

        .mobile {
            color:#AFAFAF;
            padding-bottom: 1rem;
            @media (min-width: 768px) and (max-width:1439px) {
                display: none;
            }

            @media (min-width: 1440px) {
                display: none;
            }
        }

        .date-text {
            padding-bottom: 1.5rem;
            @media (min-width: 768px) and (max-width:1439px) {
                width: 31%;
                padding: 0;
            }

            @media (min-width: 1440px) {
                width: 25%;
                font-family: 'Avenir-bold';
            }
            
        }

        .venue-text {
            padding-bottom: 1.5rem; 
            @media (min-width: 768px) and (max-width:1439px) {
                width: 20%;
                padding: 0;
            }

            @media (min-width: 1440px) {
                width: 16%;
                font-family: 'Avenir-bold';
            }
              
        }

        .location-text {
            @media (min-width: 768px) and (max-width:1439px) {
                width: 29%;
            }
            @media (min-width: 1440px) {
                width: 37%;
                font-family: 'Avenir-bold';
            }
        }

        .card-button {
            color: $primary-text-color;
            background-color: #323232;
            width: 100%;
            height: 2rem;
            text-transform: uppercase;
            border-radius: 4px;
            margin: 2rem 0 1rem 0;

            @media (min-width: 768px) and (max-width:1439px) {
                width: 20%;
                height: 3rem;
                margin-top: 0;
            }

            @media (min-width: 1440px)  {
                width: 20%;
                height: 3rem;
                margin-top: 0;
                
            }
        }
    }



}

















// footer starts.......

.footer {
    box-sizing: border-box;
    padding: 1rem 1rem 2rem 1rem;
    @include backgroundColor(#323232);
    color:$primary-text-color;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) and (max-width:1439px) {
        padding: 1rem 1.5rem 2rem 1.5rem;
    }

    @media (min-width: 1440px) {
        padding: 3rem 11.25rem 3rem 11.25rem;
    }
   
    h1 {
        font-family: "Avenir-bold";
        @include fontSize(24px,'normal', 32px);

        @media (min-width: 768px) and (max-width:1439px) {
            @include fontSize(36px, 'normal', 44px);
            margin: 0;
        }

        @media (min-width: 1440px) {
            @include fontSize(36px, 'normal', 44px);
            margin: 0;
        }
    }

    &__title {
        &--logo {
            display: none;
        }

        @media (min-width: 768px) and (max-width:1439px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--logo {
                display: block;
                
            }
        }

        @media (min-width: 1440px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--logo {
                display: block;
                width: 120px;
                height: 24px;
            }
        }
    }
    
    &__icons {
        width: 40%;
        display: flex;
        justify-content: space-between;
        height: 1rem;
                
        @media (min-width: 768px) and (max-width:1439px) {
            width: 20%;
            margin-right: 10rem;
        }

        @media (min-width: 1440px) {
            width: 11%;
            height: 2rem;
            margin-right: 30rem;
        }
   
    }

    &__contact {
        @include fontSize(13px);
        margin-top: 2rem;
        @media (min-width: 768px) and (max-width:1439px) {
            @include fontSize(14px,'normal', 20px);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
   
        @media (min-width: 1440px) {
            @include fontSize(14px,'normal', 20px);
            margin-top: 3.5rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            width: 70%;
            justify-content: space-between;
        }

        h4 {
            margin: 0;
            font-family: "Avenir-bold";
        }
        &--address {
            padding: 1rem 0;
        }

        &--padding {
            padding-bottom: 1.5rem;
        }
    }

    &__copyright {
        @include fontSize(13px);
        @media (min-width: 768px) and (max-width:1439px) {
            @include fontSize(14px,'normal', 20px);
            display: flex;
            justify-content: flex-start;
        }

        @media (min-width: 1440px) {
            @include fontSize(14px,'normal', 20px);
            display: flex;
            justify-content: flex-start;
        }
    }
    
}


